server:
  port: 8081

spring:
  application:
    name: admin-server
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: manual
        retry:
          enabled: true
          initial-interval: 1000
          max-attempts: 3
          max-interval: 10000
          multiplier: 2.0

grpc:
  client:
    profanity-service:
      address: static://localhost:9090
      negotiation-type: plaintext
